In [70]:
%load_ext autoreload
%autoreload 2
import gnssvod as gv
import xarray as xr

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [78]:
fn = 'data_RINEX2.11/Dav1_Grnd/nc/Reach_Dav1_Grnd-raw_202104282306.nc'
ds = xr.open_mfdataset(fn).to_dataframe().dropna(how='all',subset=['epoch'])
ds

                           S1    S2               epoch   SYSTEM    Azimuth  \
Epoch               SV
2021-04-28 23:07:00 C09  30.4  30.4 2021-04-28 23:07:00  COMPASS        NaN
                    C14  47.0  47.0 2021-04-28 23:07:00  COMPASS        NaN
                    C24  40.0  40.0 2021-04-28 23:07:00  COMPASS        NaN
                    C26  43.0  43.0 2021-04-28 23:07:00  COMPASS        NaN
                    C27  33.2  33.2 2021-04-28 23:07:00  COMPASS        NaN
...                       ...   ...                 ...      ...        ...
2021-04-29 00:07:00 R20  30.3  28.7 2021-04-29 00:07:00  GLONASS -86.369724
                    R21  29.4  15.5 2021-04-29 00:07:00  GLONASS -23.717328
                    S23  35.0   NaN 2021-04-29 00:07:00     SBAS        NaN
                    S27  31.0   NaN 2021-04-29 00:07:00     SBAS        NaN
                    S36  32.0   NaN 2021-04-29 00:07:00     SBAS        NaN

                         Elevation
Epoch               SV
2021-04-28 23:07:00 C09        NaN
                    C14        NaN
                    C24        NaN
                    C26        NaN
                    C27        NaN
...                            ...
2021-04-29 00:07:00 R20  41.660307
                    R21  17.068298
                    S23        NaN
                    S27        NaN
                    S36        NaN

[7670 rows x 6 columns]

In [72]:
ds

                           S1    S2               epoch   SYSTEM    Azimuth  \
Epoch               SV
2021-04-28 23:07:00 C09  30.4  30.4 2021-04-28 23:07:00  COMPASS        NaN
                    C14  47.0  47.0 2021-04-28 23:07:00  COMPASS        NaN
                    C24  40.0  40.0 2021-04-28 23:07:00  COMPASS        NaN
                    C26  43.0  43.0 2021-04-28 23:07:00  COMPASS        NaN
                    C27  33.2  33.2 2021-04-28 23:07:00  COMPASS        NaN
...                       ...   ...                 ...      ...        ...
2021-04-29 00:07:00 R20  30.3  28.7 2021-04-29 00:07:00  GLONASS -86.369724
                    R21  29.4  15.5 2021-04-29 00:07:00  GLONASS -23.717328
                    S23  35.0   NaN 2021-04-29 00:07:00     SBAS        NaN
                    S27  31.0   NaN 2021-04-29 00:07:00     SBAS        NaN
                    S36  32.0   NaN 2021-04-29 00:07:00     SBAS        NaN

                         Elevation
Epoch               SV
2021-04-28 23:07:00 C09        NaN
                    C14        NaN
                    C24        NaN
                    C26        NaN
                    C27        NaN
...                            ...
2021-04-29 00:07:00 R20  41.660307
                    R21  17.068298
                    S23        NaN
                    S27        NaN
                    S36        NaN

[7670 rows x 6 columns]

In [73]:
pattern = {'Dav1_Grnd':'data_RINEX2.11/Dav1_Grnd/rinex/Reach_Dav1_Grnd-raw_202104282306.21O'}
result = gv.preprocess(pattern,interval='15S',outputresult=True)
# and show data frame
result['Dav1_Grnd'][0].observation

data_RINEX2.11/Dav1_Grnd/rinex/Reach_Dav1_Grnd-raw_202104282306.21O exists | Reading...
Observation file  data_RINEX2.11/Dav1_Grnd/rinex/Reach_Dav1_Grnd-raw_202104282306.21O  is read in 2.53 seconds.
Processing 113394 individual observations
Calculating Azimuth and Elevation
GFZ0MGXRAP_20211180000_01D_05M_ORB.SP3 exists | Reading...
GFZ0MGXRAP_20211180000_01D_05M_ORB.SP3 file is read in 0.27 seconds
GFZ0MGXRAP_20211190000_01D_05M_ORB.SP3 exists | Reading...
GFZ0MGXRAP_20211190000_01D_05M_ORB.SP3 file is read in 0.27 seconds
GFZ0MGXRAP_20211180000_01D_30S_CLK.CLK exists | Reading...
GFZ0MGXRAP_20211180000_01D_30S_CLK.CLK file is read in 1.74 seconds
GFZ0MGXRAP_20211190000_01D_30S_CLK.CLK exists | Reading...
GFZ0MGXRAP_20211190000_01D_30S_CLK.CLK file is read in 1.64 seconds
SP3 interpolation is done in 6.10 seconds

                                   C1            L1         D1    S1  \
Epoch               SV
2021-04-28 23:07:00 C09           NaN           NaN -1399.4868  30.4
                    C14           NaN  1.297250e+08 -2004.4322  47.0
                    C24           NaN  1.404373e+08  1744.4494  40.0
                    C26           NaN  1.392658e+08  -811.5554  43.0
                    C27           NaN  1.380800e+08  -120.1528  33.2
...                               ...           ...        ...   ...
2021-04-29 00:07:00 R20  2.379116e+07  1.272255e+08 -1780.6163  30.3
                    R21  2.590017e+07  1.385958e+08  2318.8202  29.4
                    S23  4.135281e+07  2.173105e+08  -470.7319  35.0
                    S27  4.238656e+07  2.227426e+08  -470.9532  31.0
                    S36  4.102849e+07  2.156060e+08  -471.3421  32.0

                                   C2            L2           D2    S2  \
Epoch               SV
2021-04-28 23:07:00 C09  4.220925e+07           NaN -1399.486800  30.4
                    C14  2.491232e+07  1.297250e+08 -2004.432200  47.0
                    C24  2.696946e+07  1.404373e+08  1744.449400  40.0
                    C26  2.674456e+07  1.392658e+08  -811.555400  43.0
                    C27  2.651678e+07  1.380800e+08  -120.152800  33.2
...                               ...           ...          ...   ...
2021-04-29 00:07:00 R20  2.379117e+07           NaN -1384.739300  28.7
                    R21  2.590060e+07           NaN  1800.596625  15.5
                    S23           NaN           NaN          NaN   NaN
                    S27           NaN           NaN          NaN   NaN
                    S36           NaN           NaN          NaN   NaN

                                   C7            L7         D7    S7  \
Epoch               SV
2021-04-28 23:07:00 C09  4.220926e+07           NaN -1082.4126  30.4
                    C14  2.491232e+07  1.003116e+08 -1549.8144  40.8
                    C24           NaN           NaN        NaN   NaN
                    C26           NaN           NaN        NaN   NaN
                    C27           NaN           NaN        NaN   NaN
...                               ...           ...        ...   ...
2021-04-29 00:07:00 R20           NaN           NaN        NaN   NaN
                    R21           NaN           NaN        NaN   NaN
                    S23           NaN           NaN        NaN   NaN
                    S27           NaN           NaN        NaN   NaN
                    S36           NaN           NaN        NaN   NaN

                                      epoch   SYSTEM     Azimuth  Elevation
Epoch               SV
2021-04-28 23:07:00 C09 2021-04-28 23:07:00  COMPASS   49.363868  19.103656
                    C14 2021-04-28 23:07:00  COMPASS   71.859341  55.148403
                    C24 2021-04-28 23:07:00  COMPASS  117.299364  30.337410
                    C26 2021-04-28 23:07:00  COMPASS   62.021106  27.129775
                    C27 2021-04-28 23:07:00  COMPASS  -64.353939  31.179359
...                                     ...      ...         ...        ...
2021-04-29 00:07:00 R20 2021-04-29 00:07:00  GLONASS  -86.369724  41.660307
                    R21 2021-04-29 00:07:00  GLONASS  -23.717328  17.068298
                    S23 2021-04-29 00:07:00     SBAS         NaN        NaN
                    S27 2021-04-29 00:07:00     SBAS         NaN        NaN
                    S36 2021-04-29 00:07:00     SBAS         NaN        NaN

[7670 rows x 16 columns]

In [74]:
import numpy as np
ind = np.isnan(result['Dav1_Grnd'][0].observation.Azimuth.values)
# apparently, no azimuth computed for time before day switch

In [75]:
np.unique(result['Dav1_Grnd'][0].observation.loc[ind,].index.get_level_values('SV'))

array(['S23', 'S27', 'S36'], dtype=object)

In [76]:
import datetime
datetime.timedelta(hours=2.1)

datetime.timedelta(seconds=7560)